

.container-fluid {

    /* background-image: url(../imgs/fondo-azul.jpg); */
    
    float: left; 
    margin: 0px;
    
    

}

h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}


.iconos {

    font-size: larger;
    float: left;
    padding-right: 1 rem;
    text-align: center;


}

main {

    background-image: url(../imgs/fondo-blanco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    


}

h4 {

    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {

    text-align: center;
    font-family: 'Didact Gothic', sans-serif;

}

li .list-group-item {

    background-color: rgb(247, 247, 214);
}

.description {

    font-size: 1.2rem;
    font-family: 'Didact Gothic', sans-serif;
}

a {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {

    width: 70%;
    margin: auto;

}

footer {
    background-image: url(../imgs/fondo-azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;
    
}

span {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    color: white;
    
}

img {

    float: right;
    padding-right: 1rem;

}

.navbar {

    background-image: url(../imgs/fondo-azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

}





